
@media screen and (max-width: 992px) {
    .hidden-lg {
        display: none;
    }
}
/*@media screen and (max-width: 768px) {*/
/*    .hidden-lg {*/
/*        display: none;*/
/*    }*/
/*}*/
body, .navbar {
    background-color: #f0f0f0;
}
h1 {
    /*font-size: 3em;*/
}
.anreg {
    font-family: 'Anton', sans-serif;
}
.red-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6563b;
    border-radius: 50%;
    border: 6px solid white;
    height: 105px;
    width: 105px;
}
.orange-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB9D3A;
    border-radius: 50%;
    border: 5px solid white;
    height: 105px;
    width: 105px;
}
.green-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cb06c;
    border-radius: 50%;
    border: 5px solid white;
    height: 105px;
    width: 105px;
}
.blue-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00aba9;
    border-radius: 50%;
    border: 5px solid white;
    height: 105px;
    width: 105px;
}
.inner-circle {
    font-weight: bold;
    color: white;
    font-size: 18px;
}


.small-red-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6563b;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.small-orange-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.small-green-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cb06c;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.small-blue-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00aba9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.small-inner-circle {
    font-weight: bold;
    color: black;
    font-size: 9px;
}
